.big_div {
    width: 90%;
    margin: auto;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    margin-top: 100px;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.6));    border-radius: 5px;
    backdrop-filter: blur(5px);
    box-shadow: 20px 20px 60px #bebebe,-20px -20px 60px #ffffff;
}

.big_div p {
    margin-top: 30px;
    font-size: 40px;
    font-weight: 500;
}

table.tftable {
    font-size: 12px;
    color: #333333;
    width: 100%;
    border-width: 2px;
    border-color: #b5c9ff;
    border-collapse: collapse;
}

table.tftable:hover {
    scale: 1.5;
}

table.tftable tr {
    background-color: #bedda7;
}

table.tftable td {
    font-size: 20px;
    border-width: 1px;
    padding: 18px;
    border-style: solid;
    border-color: #bccfad;
}

.shell{
    width: 90%;
    height: 500px;
    display: flex;
    top: 200px;
    margin: 10px auto;
    margin-top: 10px;
    margin-bottom: 100px;
}
.box{
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .5);
    border-radius: 20px;
    border: 10px solid #fff;
    background-color: #fff;
}
.box>img{
    width: 100%;
    height: 60%;
    object-fit: cover;
    transition: .5s;
}
.box>span{
    font: 200 45px '优设标题黑';
    text-align: center;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    flex-basis: 10%;
}
.box:hover>img{
    width: 100%;
    height: 100%;
}