* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "totoro" !important;
}

@font-face {
  font-family: "totoro";
  src: url(../all.ttf);
}

@font-face {
  font-family: "footer";
  src: url(../all.ttf);
}

a:hover {
  transform: scale(1.05);
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, rgba(0, 0, 0, 0.3));
}

a:active {
  color: #b000ff;
}

a:visited {
  color: rgb(0, 255, 128);
}

span:hover {
  transform: scale(1.05);
}

body {
  width: 100%;
  height: 100vh;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-color: rgb(227 227 227 / 70%);
  overflow-x: hidden;
}

tr {
  font-size: 20px;
}

#title {
  color: rgb(0, 0, 0) !important;
  font-size: 45px !important;
  font-weight: 500 !important;
  margin-bottom: 15px;
}

footer {
  width: 100%;
  height: 80px;
  background-color: rgb(145, 136, 136);
}

.footer {
  margin: auto;
  width: fit-content;
  line-height: 80px;
  color: rgb(231, 220, 222);
  font-size: 30px;
}

.big_div_002 {
  display: block;
  width: 100%;
  margin-top: 100px;
}

.big_div_002 .kong {
  height: 50px;
}

.big_div_002 .title {
  position: relative;
  top: 25px;
  font-size: 35px;
}

.box-left {
  position: absolute;
  width: 15%;
  left: 90px;
  top: -40px;
  margin-top: 48px !important;
}

.box-left img {
  margin-top: 30px;
  margin-bottom: 10px;
  border: 2px solid pink;
  width: 100%;
}

.box-right span {
  color: black;
  margin-top: 10px;
  font-size: 30px;
  font-weight: 600;
}

.box-right {
  position: absolute;
  right: 10px;
  top: 35px;
  width: 65%;
}

.box-right p {
  margin-left: 15px !important;
  width: 90%;
  text-indent: 2em;
  text-align: start;
  font-size: 25px !important;
  font-family: "totoro";
  color: black;
  margin-top: 35px !important;
}

.small-box {
  border: 1px solid rgb(210, 210, 210);
  position: relative;
  width: 90%;
  height: 340px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 20px rgb(9 75 82 / 50%);
}

.small-box:hover {
  scale: 1.2;
}

.big_div_004 {
  display: block;
  width: 100%;
  margin-top: 120px !important;
}

.big_div_004 > .title {
  font-size: 35px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.big_div_004 > .you > span {
  color: black;
  font-size: 40px;
}

.big_div_004 > .you > p {
  margin: auto;
  width: 90%;
  text-align: start !important;
  text-indent: 2em !important;
  color: black;
  font-size: 30px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.big_div_004 > .kong {
  height: 10px;
}

.big_div_004 > .img {
  display: inline-block;
  width: 45%;
}

.big_div_004 > .img img {
  width: 90%;
  overflow: hidden;
  margin-bottom: 10px;
}

.big_div_004 > .you {
  float: right;
  width: 50%;
  margin-left: 30px;
  margin-bottom: 40px;
  margin-top: 30px;
}

.big_div_004 > .you > .totoro12 {
  width: 90%;
}

.big_div_004 > .you > .totoro12 > img {
  width: 24%;
}

#base {
  padding: 30px;
  margin-top: 60px;
}

#base p {
  width: 90%;
  text-indent: 2em;
  text-align: start;
  margin: auto;
  margin-top: 20px;
  font-size: 30px;
  color: rgb(0 25 8 / 76%);
  font-family: cursive;
}

#base span {
  font-size: 30px;
  color: rgb(60, 85, 94);
  font-family: 翩翩体-简;
  margin-top: 20px;
}

#base table {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

#plot {
  padding: 30px;
  margin-top: 60px;
  margin-bottom: 100px;
}

#plot p {
  width: 90%;
  text-indent: 2em;
  text-align: start;
  margin: auto;
  margin-top: 20px;
  font-size: 30px;
  color: black;
  font-family: cursive;
}

#plot div {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 40px;
}

#plot div img {
  width: 100%;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0 0 10px rgb(0 0 0 / 70%);
}
